<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Flask APP Iris</h1>
        <h2>Formulário</h2>
        <form action="/predict" method="post">
            <p>Largura da pétala: <input type="text" name="larg_petala" id="" value="0.13"></p>
            <p>Comprimento da pétala: <input type="text" name="comp_petala" id="" value="0.41"></p>
            <p>Largura da sépala: <input type="text" name="larg_sepala" id="" value="0.28"></p>
            <p>Comprimento da sépala: <input type="text" name="comp_sepala" id="" value="0.57"></p>
            <p><input type="submit" value="Enviar"></p>

        </form>
    </div>
</body>
</html>